.auth-layout {
    background: #3d5f58;
    flex-direction: row;
}

.auth-layout .logo {
    position: relative;
    left: -20px;
}

.welcome-block {
    max-width: 400px;
    margin-right: 5rem;
}

.second-block {
    margin-left: 5rem;
}

.btn-primary {
    font-family: Quicksand;
    font-size: 30px;
    background: #A7B57C;
    text-align: center;
    width: 345px;
    display: block;
    padding: 22px 10px 23px;
    border-radius: 45px;
    border: 1px solid #979797;
    -webkit-box-shadow: 8px 0px 12px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 8px 0px 12px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.5);
}

.divider {
    font-size: 36px;
    color: #ffffff;
    margin: 1rem 0;
}

.input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 32px;
    color: #858585;
}

.wrapper {
    background: #f7f7f7;
    min-height: 100vh;
}
.container {
    max-width: 1380px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 30px;
}

.header .tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #15202e;
    background: #e7e7d8;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    -moz-box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    overflow: hidden;
}
.header .tab-item {
    position: relative;
    color: #15202e;
    font-size: 30px;
    padding: 17px 45px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
}
.header .tab-item:not(:first-child) {
    margin-left: -15px;
}
.header .tab-item.is-active {
    background: #a7b57c;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
}
.header .links {

}
.header .link-item {
    font-size: 46px;
    color: #3d5f58;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.main-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #a7b57c;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(112,112,112,0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(112,112,112,0.5);
    box-shadow: 0px 3px 5px 0px rgba(112,112,112,0.5);
    padding: 22px 35px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    margin-bottom: 30px;
    min-height: 114px;
}
.main-panel_edit {
    background: #3d5f58;
    color: #ffffff;
}

.search-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-bar {
    position: relative;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    -moz-box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    overflow: hidden;
    margin-right: 20px;
    display: flex;
    align-items: stretch;
}

.search-bar .search-form {
    position: relative;
    z-index: 2;
}
.search-bar .search-input {
    width: 370px;
    height: 70px;
    font-size: 24px;
    background: #ffffff;
    border: none;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    padding-left: 75px;
    padding-right: 25px;
}

.search-bar .search-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    height: 60px;
    width: 60px;
    border: none;
    background: none;
    font-size: 32px;
    padding: 0;
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ebebeb;
    color: #424c57;
    font-size: 2rem;
    padding-right: 30px;
    padding-left: 60px;
    margin-left: -35px;
    z-index: 1;
    cursor: pointer;
}
.filter-btn.active {
    background: #3D5F58;
    color: #ffffff;
}

.filter-block {
    width: 100%;
    box-shadow: 0px 3px 5px 0px rgba(112, 112, 112, 0.5);
    border-radius: 40px;
    overflow: hidden;
    flex: 380px 1 0;
    max-width: 380px;
}

.filter-form .heading {
    font-size: 1.55rem;
    color: #fff;
    font-family: "Lato", sans-serif;
    background: #3D5F58;
    padding: 20px 25px 60px 25px;
    margin: 0;
}
.filter-form .form-group {
    margin-bottom: 15px;
}
.filter-form .form-group label {
    margin-bottom: 7px;
}

.filter-inner {
    padding: 20px 25px 30px;
    background: #F3F3F3;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    margin-top: -40px;
}

.filter-search {
    position: relative;
}
.filter-search input {
    width: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 12px;
    padding-left: 55px;
    border: none;
    background: #ebebeb;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}
.filter-search .search-btn {
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    z-index: 1;
}
.filter-search .search-btn i {
    color: #15202e;
}

.filter-inner .form-group select {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #d8d8d8;
    padding: 12px 45px 12px 20px;
    border: none;
    color: #15202E;
    font-size: 1.2rem;
}
.filter-inner .btn-md {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    background: #3D5F58;
    text-align: center;
    display: block;
    padding: 8px 28px 8px;
    color: #ffffff;
    border-radius: 45px;
    -webkit-box-shadow: 8px 0px 8px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 0px 8px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.5);
}

.dropdown-color {
    position: relative;
    width: 100px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.dropdown-arrow .fa-solid.fa-caret-down {
    font-size: 28px;
    padding: 0;
    color: #15202E;
}
.selected-color {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    position: relative;
    background-color: #EBEBEB;
    padding: 5px 12px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    z-index: 15;
}

.dropdown-color.active .selected-color {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.item-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.dropdown-list {
    display: none;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 10px 0;
    margin-top: -10px;
}

.dropdown-list .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  cursor: pointer;
}

.dropdown-list .item:hover,
.dropdown-list .item.selected {
  background-color: #D8D8D8;
}

.multi-color {
  display: flex;
  overflow: hidden;
}

.multi-color .half {
  width: 50%;
  height: 100%;
}


.main-content {
    position: relative;
    padding: 20px;
}

.main-content .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-size: 27px;
    text-align: center;
    color: #15202e;
    font-family: sans-serif;
    opacity: 0.72;
    max-width: 410px;
    margin: 0 auto;
}

.main-content .empty-state .icon {
    font-size: 72px;
}

.container.dashboard {
    max-width: 1400px;
}

.select-text {
    width: 175px;
    display: inline-block;
    opacity: 0.75; color: rgba(21, 32, 46, 1);
    font-size: 24.299999237060547px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    line-height: 22px;
    vertical-align: top;
}

.options [type=radio], .options [type=checkbox], [type='checkbox']:after, [type='checkbox']:before  {
    border-radius: 100%;
    border: 3px solid rgba(21, 32, 46, 1);
    opacity: 0.5;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
}

.options [type='checkbox']:checked, [type='checkbox']::backdrop {
    margin-right: 10px;
    margin-left: 0px;
    background: #3D5F58;
    opacity: 1;
    border-color: #3D5F58;
    background-color: #3D5F58;
    --tw-ring-color: none !important;
    color: #3D5F58;
    outline: none;
}

.options [type='checkbox']:checked, [type='checkbox']::backdrop, .options [type='checkbox']:focus {
    margin-right: 10px;
    margin-left: 0px;
    opacity: 1;
    border-color: #3D5F58;
    --tw-ring-color: none !important;
    color: #3D5F58;
    outline: none;
}

.select-items {
    font-size: 20px;
    color: #15202E;
}

.new-site {
    text-decoration: underline;
}

.fa-solid {
    color: rgba(21, 32, 46, 1);
}

.readonly {
    width: 40px;
    display: block;
}

[type='checkbox']:checked, #terms {
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 20px;
    margin-left: 35px;
    vertical-align: baseline;
    --tw-ring-shadow: none;
}

.check-label, h3.terms, p.terms-text {
    color: #fff;
    font-size: 27px;
}

.check-label button, a.check-label {
    text-decoration: underline;
}

h3.terms {
    text-transform: uppercase;
    text-align: center;
}

p.terms-text {
    font-size: 12px;
    width: 535px;
    margin-bottom: 15px;
}
 p.re-send {
     font-size: 24px;
     padding: 20px;
     color: #fff;
 }

.panel-title {
    font-size: 30px;
    font-family: 'Lato';
    font-weight: bold;
    margin-left: 15px;
    text-decoration: underline;
}
.main-panel .btn-back {
    font-size: 40px;
    cursor: pointer;
}
.panel-controls {
    gap: 30px;
}
.panel-controls .btn-remove i,
.panel-controls .btn-edit i {
    font-size: 40px;
    color: white;
}
.panel-controls .btn-remove {
    font-size: 42px;
}

.panel-controls .btn-md {
    font-family: 'Lato';
    font-size: 24px;
    background: #3D5F58;
    text-align: center;
    display: block;
    padding: 8px 28px 8px;
    color: #ffffff;
    border-radius: 45px;
    -webkit-box-shadow: 8px 0px 8px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 0px 8px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.5);
}


.panel-controls .btn-inverted {
    background: #A7B57C;
    color: #15202E;
}

.block.text-sm.font-medium {
    font-size: 18px;
    color: #15202E;
    margin-left: 10px;
}

.preview {
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background: #D8D8D8;
    cursor: pointer;
}

.fa-solid.fa-plus {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #3D5F58;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    margin-left: 65px;
    cursor: pointer;
}

.right {
    float: right;
    width: 226px;
    margin-bottom: 8px !important;
}

.right.mb-5 {
    margin-right: 35px;
}

.right.color {
    margin-bottom: 1.25rem !important;
}

.left {
    float: left;
    width: 140px;
}

.main-content.add-site {
    padding: 40px;
    padding-left: 80px;
}

.add-site input {
    width: 338px;
    border-radius: 5px;
    background: #D8D8D8;
    font-size: 18px;
    color: #15202E;
}

.add-site .right input, .add-site .right #color {
    width: 195px;
}

#shared_with, #notes {
    resize: none;
    background: #D8D8D8;
    width: 338px;
}

span.service {
    padding: 20px;
}

.fa-caret-up {
    font-size: 30px;
    vertical-align: middle;
}

select option {
    color: #444645;
    background: red;
}

.right #color {
    height: 40px;
    cursor: pointer;
}

[type='text']:focus {
    --tw-ring-color: none !important;
}

.select-item {
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(112, 112, 112, 0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(112, 112, 112, 0.5);
    box-shadow: 0px 3px 5px 0px rgba(112, 112, 112, 0.5);
    border-radius: 5px;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 250px;
    overflow: auto;
    transform: scaleY(1);
    opacity: 1;
    transition: all 0.2s;
    transform-origin: top;
    color: #333;
}

.fa-solid.fa-caret-down {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: #15202E;
}

.for-caret {
    width: 54px;
    height: 39px;
    background: #D8D8D8;
    float: right;
    top: -5px;
    position: relative;
}

.select-item div {
    height: 30px;
}

.form-container {
    background-color: #f3f3f3;
    border-radius: 22px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    font-family: "Lato", sans-serif;
}

.form-header {
    font-size: 1.25rem;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

.form-group-wrap.bg-grey {
    background: #d8d8d8;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-size: 1.125rem;
    color: #15202E;
    display: block;
    margin-bottom: 10px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: #ffffff;
    color: #7a8088;
}
.form-group input.cc {
    width: 80px;
}

.form-group select {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>');
}

.form-group input.bg-grey,
.form-group select.bg-grey {
    background-color: #d8d8d8;
}

.form-group input.dp__pointer {
    padding-left: 30px;
    font-size: 16px;
}

.dp--clear-btn {
    right: -10px;
}

.form-group-icon {
    display: flex;
    align-items: center;
    position: relative;
}

.form-group-icon input {
    padding-left: 35px;
}

.form-group-icon i {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: #555;
}
.security-group input {
    font-size: 1.2rem;
    padding-left: 50px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 8px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px -6px rgba(0,0,0,0.75);
}

.security-group .form-group-icon i {
    font-size: 1.5rem;
    left: 15px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-row .form-group {
    flex: 1;
}

.form-footer {
    display: flex;
    gap: 15px;
}

.form-footer button {
    flex: 1;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    webkit-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.5);
    background-color: #3a5656;
    color: white;
}

.service-form {
    width: 340px;
    margin-left: 40px;
    margin-bottom: 25px;
}

.service-form.detail {
    margin-left: 0;
    margin-top: -20px;
    display: none;
    width: auto;
}

.detail .fa-solid.fa-pen {
    position: relative;
    cursor: pointer;
    float: right;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.form-header .serv-detail {
    float: left;
    font-size: 18px;
}

.detail .globe-div {
    padding: 5px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.detail .globe-div .globe {
    margin-top: 7px;
    border: 9px solid #fff;
    background: #fff;
    border-radius: 33px;
}

.detail .form-container {
    height: 650px;
}

.edit-provider.detail .form-container {
    height: 810px;
}

.fa-regular.fa-copy {
    left: 240px;
    cursor: pointer;
}

.user-detail .form-group-icon input {
    width: 275px;
    border-radius: 23px;
    height: 39px;
}

.fa-solid.fa-eye-slash, .fa-solid.fa-eye {
    margin-left: 200px;
    cursor: pointer;
}

.user-detail {
    margin-top: -40px;
}

.fa-globe, .fa-solid.fa-sack-dollar {
    font-size: 33px;
}

.fa-solid.fa-sack-dollar, .fa-solid.fa-key{
    padding-right: 10px;
}

.dark-line {
    height: 17px;
    border-left: 2px solid #15202E;
    margin-left: 15px;
    margin-top: 10px;
}

.detail .globe-div .right-side {
    color: #15202E;
    margin-bottom: 0px;
    opacity: 0.75;
}

.fa-solid.fa-key {
    font-size: 24px;
}

.text {
    font-size: 20px;
    opacity: 0.7;
    font-weight: 700;
}

.subscribe {
    margin-top: -24px;
    height: 135px;
    border-bottom: 15px solid #A7B57C;
}

.fas.fa-hourglass-half {
    font-size: 24px;
    margin-left: 8px;
    margin-top: 16px;
}

.globe {
    float: left;
}

.right-side {
    float: right;
    width: 230px;
    opacity: 0.75;
}

.right-side span {
    opacity: 1;
}

.right-side em {
    width: 135px;
    display: inline-block;
}

.globe-div {
    float: inline-end;
}

.show-form {
    cursor: pointer;
}

.previe {
    width: 110px;
    height: 110px;
    border-radius: 110px;
    object-fit: cover;
}

.data-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    margin: 0 -20px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px 0;
    margin: 0 -20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}

.card-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: calc(33.333% - 20px);
}
.card-list.filter_active .card-item {
    width: calc(50% - 20px);
}
.card-item .options input {
    margin-right: 15px;
}

.card-selection {
    display: inline-block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2.5px solid #868b93;
    cursor: pointer;
}
.card-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 40px 35px;
    background-color: #f3f3f3;
    border-radius: 38px;
    box-shadow: 0 3px 5px 0 rgba(112,112,112,0.5);
    flex-grow: 1;
    font-family: "Lato", sans-serif;
    transition: ease-in 0.2s;
    cursor: pointer;
    overflow: hidden;
}
.card-content:hover {
    box-shadow: 0 3px 7px 0 rgba(112,112,112,0.7);
}

.card-content .info {
    flex-grow: 1;
    margin-right: 10px;
}
.card-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #666;
    overflow: hidden;
    flex: 70px 0 0;
}
.card-logo img {
    max-width: 100%;
}

.card-title {
    font-weight: bold;
    font-size: 1.375rem;
    margin: 0;
    color: rgb(21, 32, 46, 0.75);
}

.card-link {
    font-size: 1.25rem;
    color: rgb(21, 32, 46, 0.6);
    font-style: italic;
    text-decoration: none;
}
.card-color {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
}

.provider-list, .software-list {
    margin-left: 50px;
}

.provider-item, .software-item {
    position: relative;
    margin-bottom: 15px;
}

.provider-item::before, .software-item:before {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: -15px;
    width: 100px;
    border: 2px solid #979797;
    border-radius: 15px;
}

.provider-item .inner, .software-item .inner {
    position: relative;
    padding: 6px 3px;
    background: #f7f7f7;
}

.provider-item .row, .software-item  .row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #D8D8D8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 6px 15px;
    color: rgb(21, 32, 46, 0.57);
    font-family: "Lato", sans-serif;
    font-size: 1.125rem;
    z-index: 1;
}

.provider-item .icon, .software-item .icon {
    font-size: 1.4rem;
    color: rgb(21, 32, 46, 0.62);
}
#share, #delete, #unshare {
    width: 336px;
    height: 70px;
    resize: none;
    color: #15202E;
    font-size: 18px;
    padding-left: 63px;
    border-radius: 17px;
}

.left-line {
    height: 40px;
    border-left: 2px solid #979797;
}

.left-line.second {
    height: 63px;
    padding-left: 20px;
    margin-top: 10px;
}

.left-line.second.third {
    height: 100px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 20px solid #15202E;
    position: absolute;
    right: -15px;
    top: -2px;
    border-radius: 6px;
}

.tags {
    width: 65px;
    height: 33px;
    display: inline-block;
    background: #15202E;
    opacity: 0.8;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    margin-right: 30px;
}

.mb-5.block-serv {
    margin-top: -155px;
    margin-left: 30px;
}

.block-serv .text-block {
    margin-bottom: 20px;
}

.inner .fas.fa-edit {
    font-size: 21px;
    float: right;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 50px;
}

.tags p.info {
    color: #fff;
    text-align: center;
}

.text-block {
    margin-top: 10px;
}

.circle {
    width: 21px;
    height: 21px;
    display: inline-block;
    border-radius: 21px;
    background: #3D5F58;
    margin-right: 10px;
    margin-left: -9px;
}

.in-textarea {
    color: #3D5F58;
    font-size: 35px;
    position: relative;
    left: 75px;
}

.message {
    color: #3D5F58;
    font-size: 22px;
    font-weight: 900;
    display: inline-block;
    margin-left: 260px;
}

.inner.sited-detail {
    width: 90%;
    margin: auto;
}

em.gray-text {
    color: #15202E;
    font-size: 18px;
    opacity: 0.54;
}
 p.info {
     color: #15202E;
     font-size: 20px;
 }

 .fa-solid.fa-sort-up,.fa-solid.fa-sort-down {
     font-size: 45px;
 }

 .card-content.detail {
     margin-bottom: 30px;
 }

 .edit-provider {
     display: none;
 }

.form-header .fa-arrow-left.detail {
    float: left;
    padding: 10px;
    cursor: pointer;
}

.form-header .fa-trash-can.detail {
    float: right;
    padding: 10px;
    cursor: pointer;
}

.fa-solid.fa-calendar-days {
    font-size: 45px;
    color: #3D5F58;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.billing .card-list {
    padding: 20px 20px;
}

.form-group input.billing-filter {
    padding-left: 20px;
    width: 135px;
}

.form-group input.billing-filter.second {
    margin-top: 34px;
}

.dp--tp-wrap {
    display: none;
}

.in-input {
    position: relative;
    left: 5px;
    top: -35px;
    color: #7a8088;
}

.row.flex.flex-row.gap-3 hr {
    width: 40px;
    margin-top: 55px;
    border-color: #D8D8D8;
}

@media screen and (max-width: 768px) {
    .auth-layout {
        flex-direction: column;
        padding: 15px 10px;
    }
    .auth-layout .logo {
        left: auto;
    }
    .auth-layout .logo svg {
        width: 200px;
    }
    .welcome-block {
        margin-right: 0;
        max-width: 300px;
    }
    .second-block {
        margin-left: 0;
        margin-top: 50px;
    }
    .btn-primary {
        max-width: 230px;
        font-size: 24px;
        font-family: 'Lato';
        padding: 11px 15px;
    }
    .divider {
        font-size: 24px;
        margin: 0.75rem 0;
    }
    .input-icon {
        font-size: 24px;
        top: 15px;
    }
    .check-label, h3.terms, p.terms-text {
        font-size: 18px;
    }
    #terms {
        margin-left: 20px;
    }
}
