.auth-layout {
    background: #3d5f58;
}

.auth-layout .logo {
    position: relative;
    left: -20px;
}
.welcome-block {
    max-width: 400px;
    margin-right: 5rem;
}
.second-block {
    margin-left: 5rem;
}
.btn-primary {
    font-family: Quicksand;
    font-size: 30px;
    background: #A7B57C;
    text-align: center;
    width: 345px;
    display: block;
    padding: 22px 10px 23px;
    border-radius: 45px;
    border: 1px solid #979797;
    -webkit-box-shadow: 8px 0px 12px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 8px 0px 12px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.5);
}
.divider {
    font-size: 36px;
    color: #ffffff;
    margin: 1rem 0;
}

.input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 32px;
    color: #858585;
}

.wrapper {
    background: #f7f7f7;
    min-height: 100vh;
}
.container {
    max-width: 1380px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 30px;
}

.header .tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #15202e;
    background: #e7e7d8;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    -moz-box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    overflow: hidden;
}
.header .tab-item {
    position: relative;
    color: #15202e;
    font-size: 30px;
    padding: 17px 45px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
}
.header .tab-item:not(:first-child) {
    margin-left: -15px;
}
.header .tab-item.is-active {
    background: #a7b57c;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
}
.header .links {

}
.header .link-item {
    font-size: 46px;
    color: #3d5f58;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.main-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #a7b57c;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(112,112,112,0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(112,112,112,0.5);
    box-shadow: 0px 3px 5px 0px rgba(112,112,112,0.5);
    padding: 22px 35px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    margin-bottom: 30px;
}

.search-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.search-bar {
    position: relative;
    background: #ebebeb;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    -moz-box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    box-shadow: 0px 3px 3px 0px rgba(112,112,112,0.5);
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    overflow: hidden;
}
.search-bar .search-input {
    width: 370px;
    height: 70px;
    font-size: 24px;
    background: #ffffff;
    border: none;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    padding-left: 75px;
}
.search-bar .search-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    height: 60px;
    width: 60px;
    border: none;
    background: none;
    font-size: 32px;
    padding: 0;
}

.main-content {
    position: relative;
    padding: 20px;
}

.main-content .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-size: 27px;
    text-align: center;
    color: #15202e;
    font-family: sans-serif;
    opacity: 0.72;
    max-width: 410px;
    margin: 0 auto;
}
.main-content .empty-state .icon {
    font-size: 72px;
}

.container.dashboard {
    max-width: 1300px;
}

.select-text {
    width: 175px;
    display: inline-block;
    opacity: 0.75; color: rgba(21, 32, 46, 1);
    font-size: 24.299999237060547px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    line-height: 22px;
    vertical-align: top;
}

.options [type=radio] {
    border-radius: 100%;
    border: 3px solid rgba(21, 32, 46, 1);
    opacity: 0.5;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.new-site {
    text-decoration: underline;
}

.fas.fa-filter {
    position: relative;
    right: 59px;
    font-size: 25px;
    top: 23px;
    color: rgba(21, 32, 46, 1);
}

.fa-solid {
    color: rgba(21, 32, 46, 1);
}

[type='checkbox']:checked, #terms {
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 20px;
    margin-left: 35px;
    vertical-align: baseline;
    --tw-ring-shadow: none;
}

.check-label, h3.terms, p.terms-text {
    color: #fff;
    font-size: 27px;
}

.check-label button, .check-label a {
    text-decoration: underline;
}

h3.terms {
    text-transform: uppercase;
    text-align: center;
}

p.terms-text {
    font-size: 12px;
    width: 535px;
    margin-bottom: 15px;
}

